@charset "utf-8";

// font-family
$font-device: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", 'Malgun Gothic','맑은 고딕', Arial, sans-serif;
$font-nimbus: "Nimbus San L", sans-serif;
$font-notosans: "Noto Sans KR", sans-serif;

// color 
$color-wh: #fff;
$color-bk: #000;
$color-bk-02: #222;
$color-text-default: #838281;
$color-primary: #c62026;
$color-primary-light: #c52026;
$color-primary-dark: #b1161c;
$color-primary-dark-02: #A81119;
$color-bg: #f4f3ed;
$color-bg-light: #fefaea;
$color-gray-300: #e5e5e5;
$color-gray-500: #CDCBC8;

// margin
.mt-10 {margin-top: 10px}
.mt-20 {margin-top: 20px}
.mt-30 {margin-top: 30px}
.mt-40 {margin-top: 40px}

// max, min width
@mixin width-max_min($min: 0, $max: none) {
  margin:0 auto;
  min-width: $min;
  max-width: $max;
}

@mixin pseudoBg($width: 0, $height: 0) {
  content: "";
  display: inline-block;
  width: $width;
  height: $height;
  background: {
    position: center center;
    repeat: no-repeat;
    size: $width auto;
  }
}

// 노치대응
$safeAreaMap: (
  'top': (
    env: env(safe-area-inset-top),
    constant: constant(safe-area-inset-top),
  ),
  'right': (
    env: env(safe-area-inset-right),
    constant: constant(safe-area-inset-right), 
  ),
  'bottom': (
    env: env(safe-area-inset-bottom),
    constant: constant(safe-area-inset-bottom),
  ),
  'left': (
    env: env(safe-area-inset-left),
    constant: constant(safe-area-inset-left),
  )
);

$safe-top:map-get($safeAreaMap,"top");
$safe-right: map-get($safeAreaMap,"right");
$safe-bottom: map-get($safeAreaMap,"bottom");
$safe-left: map-get($safeAreaMap,"left");

// * safe(bottom, env, 값);
// * safe-area-inset 처리
// * $dir - 방향(all, top, right, bottom, left, 생략가능)
// * $ios - env, constant
// * $value - 더해질 값(생략가능)
// * $percent - height나 width값 계산 시(예 100%)
@function safe($dir: all, $ios: '', $value: 0, $percent: 0) {
	@if ($dir == all) {
		@if ($value > 0) {
			@return calc(#{$value} + #{map-get($safe-top, $ios)}) calc(#{$value} + #{map-get($safe-right, $ios)}) calc(#{$value} + #{map-get($safe-bottom, $ios)}) calc(#{$value} + #{map-get($safe-left, $ios)});
		}
		@else if ($value < 0) {
			@return calc((#{-$value} + #{map-get($safe-top, $ios)}) * -1) calc((#{-$value} + #{map-get($safe-right, $ios)}) * -1) calc((#{-$value} + #{map-get($safe-bottom, $ios)}) * -1) calc((#{-$value} + #{map-get($safe-left, $ios)}) * -1);
		}
		@else {
			@return map-get($safe-top, $ios) map-get($safe-right, $ios) map-get($safe-bottom, $ios) map-get($safe-left, $ios);
		}
	}
	@else {
        @if ($value > 0) {
            @if($percent > 0) {
                @return calc(#{$percent} - #{$value} - #{map-get(map-get($safeAreaMap,$dir), $ios)});
            } @else {
                @return calc( #{$value} + #{map-get(map-get($safeAreaMap,$dir), $ios)}); 
            }
        }
        @else if ($value < 0) {
            @if($percent > 0) {
                @return calc((#{$percent} - #{-$value} - #{map-get(map-get($safeAreaMap,$dir), $ios)}));
            } @else {
                @return calc((#{-$value} + #{map-get(map-get($safeAreaMap,$dir), $ios)}) * -1);
            }
		}
		@else {
			@return map-get(map-get($safeAreaMap,$dir), $ios);
		}
	}
}